form{
    float: left;
}

input[type=submit]{
	background-color: #FAED26;
	border: 1px;
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	margin: 10px 10px;
	cursor: pointer;
}

input[type=text],input[type=password],input[type=date]{
    border: 2px solid #FAED26;
    border-radius: 4px;
    

}
input[type=text],input[type=password],input[type=date]{
padding: 5px 10px;
margin: 3px 0;

}

div {
    color: #FAED26;
}

label{
    color: black;
}

img{
    height: 400px;
    width: 500px;
    float: right;
}