
<div class="topnav"> 
<nav >
    <ul> 
        <li><img src="assets/thestore.png"></li>
      <li ><a routerLink="/allProducts" routerLinkActive="active">ALL PRODUCTS   </a></li>
      <li ><a routerLink="/allProductsByType" routerLinkActive="active">SEARCH BY TYPE   </a></li> 
      <li ><a routerLink="/editProduct" routerLinkActive="active">EDIT PRODUCTS   </a></li>
      <li ><a routerLink="/deleteProduct" routerLinkActive="active">DELETE   </a></li>



     <!-- <li > <form #search (ngSubmit)= "getAllbytypeService(search.value)">
        <a routerLink="/allProductsByType" routerLinkActive="active">
        <input type="text" placeholder="Enter product type:" name="search">
        <button type="submit" ><i class="fa fa-search"></i></button>
        </a>
      </form>
    </li> -->
    <li style="float: right;"><a routerLink="/register" routerLinkActive="active">REGISTER   </a></li>
    <li style="float: right;" ><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>

    </ul>
  </nav> 
</div>
  <router-outlet></router-outlet>
